<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
</head>
<body>
    <div class="flex-col justify-center items-center bg-sky-300">
        <div class="text-3xl font-serif font-extrabold">
            THANK YOU! <%= Title %>
        </div>
        <div>
            <img src="src\Assets\checked.png" alt="emoji">
        </div>
        <div>
            <button action="/">
                Portfolio
            </button>
        </div>
    </div>
</body>
</html>